{% extends 'base.html.twig' %}

{% block title %}Voyages index{% endblock %}

{% block body %}
    <h1>Voyages index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voyage in voyages %}
            <tr>
                <td>{{ voyage.id }}</td>
                <td>{{ voyage.createdAt ? voyage.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('voyages_show', {'id': voyage.id}) }}">show</a>
                    <a href="{{ path('voyages_edit', {'id': voyage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('voyages_new') }}">Create new</a>
{% endblock %}
