{% extends 'base.html.twig' %}

{% block title %}Voyages{% endblock %}

{% block body %}
    <h1>Voyages</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ voyage.id }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ voyage.createdAt ? voyage.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('voyages_index') }}">back to list</a>

    <a href="{{ path('voyages_edit', {'id': voyage.id}) }}">edit</a>

    {{ include('voyages/_delete_form.html.twig') }}
{% endblock %}
